<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <fieldset id="blur">
        <form class="login-form">
            <div class="row">
            </div>
            <h2>Enter your details</h2>
            <div class="row">
                <label class="text"><b>name</b></label>
                <input type="text" placeholder="Full name">
            </div>
            <div class="row">
                <label class="text"><b>Gender</b></label>
                <input type="number" placeholder="Your age">
            </div>
            <div class="row">
                <label class="text"><b>Contact</b></label>
                <input type="number" placeholder="Your age">
            </div>
            <div class="row">
                <label for="" class="text"><b>City</b></label>
                <input type="number" placeholder="Your age">
            </div>
            <div class="row">
                <label for="" class="text"><b>State</b></label>
                <input type="number" placeholder="Your age">
            </div>
            <div class="btn">
                <button class="button-75" role="button"><span class="text">Submit</span></button>
            </div>
        </form>
    </fieldset>
    <div class="container">
<!-- 
        <div class="popup">
            <button class="button1" id="close">&times;</button>
            <h2>Looking for </h2>
            <div>
                <input type="checkbox">
            </div>
        </div> -->
        <script>
            // window.addEventListener("load", function () {
            //     setTimeout(function () {
            //         var popup = document.querySelector(".popup");
            //         if (popup) {
            //             popup.style.display = "block ";
            //             document.getElementById('blur').style.filter = "blur(6px)";
            //         }
            //     }, 1000);
            // });


            // document.querySelector("#close").addEventListener("click", function () {
            //     document.querySelector(".popup").style.display = "none";
            // });
        </script>
</body>

</html>