<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <div class="section">

        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="login">login</a></li>
                <li><a href="about">About</a></li>
                <li><a href="description">Description</a></li>
            </ul>

        </nav>
    </div>
    <div class="profile-card">
        <div class="image">
            <img src="/images/PHo.jpg" alt="this initial-scale" class="profile-img">
            <h2> name</h2>
            <h3>@username</h3>
        </div>
    </div>
    <section class="slider">
        <nav class="slides">
            <ul class="slideshow">
                <a href="/leaderboard">
                    <li>LeaderBoard</li>
                </a>
                <a href="">
                    <li>Organisation</li>
                </a>
                <a href="">
                    <li>Tracker</li>
                </a>
            </ul>

        </nav>
    </section>
</body>

</html>